elasticsearch==7.15.2
oauth2==1.9.0.post1
pygogo==0.13.2
pyhocon==0.3.58
pymongo==3.12.1
requests==2.26.0
tweepy==3.7.0
twitter==1.19.3
Flask==2.0.2
flower==1.0.0
celery==5.2.1
amqp==5.0.6
flasgger==0.9.5
tornado==6.1
Flask-BasicAuth==0.2.0
pyrabbit==1.1.0
APScheduler==3.8.1
python-dotenv==0.19.2
boto==2.49.0
boto3==1.20.11
mysql-connector-python==8.0.28